body {
    font-family: sans-serif;
}

header {
    background-color: LightGreen;
   
}

header a {
    text-decoration: none;
    color: DarkGreen;
}

header {
    background-color: LightGreen;
    padding: 8px;
}

main h1 {
    color: DarkBlue;
    text-align: center;
    background-color: LightBlue;
}

footer {
    background-color: LightGreen;
    padding: 5px;
}

footer p {
    background-color: white;
}

nav {
    background-color: LightGreen;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

nav a {
    margin: 20px;
    text-decoration: none;
}

p img {
    background-color: OliveDrab;
}

.lol {
    background-color:OliveDrab;
    color: white;
    padding: 4px;
}

.gef {
    background-color: OliveDrab;
}

h2 {
    background-color: OliveDrab;
    color: white;
    border-radius: 5px;
    padding: 3px;
}


